@import "tailwindcss";

@theme {
  --animate-fade-in-up: fadeInUp 0.5s ease-out forwards;
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* 
  Força o Tailwind a usar a classe .dark para o modo escuro 
  em vez da preferência do sistema operacional.
*/
@custom-variant dark (&:where(.dark, .dark *));
